@model MVC_project.Models.Course
@using MVC_project.Models
@{
    ViewBag.Title = "Details";
    string no_grd_message = "no grade yet";

}

<h2>Details</h2>

<div>
    <h4>Course</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Course_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lecturer_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lecturer_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MoedA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoedA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MoedB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoedB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Day)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Day)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.start)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.start)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.end)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.end)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.classroom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.classroom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MoedA_classroom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoedA_classroom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MoedB_classroom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoedB_classroom)
        </dd>

    </dl>
</div>


<table class="table">
    @if (Session["Type"].Equals("student"))
    {
        <tr>
            <th>
                Student ID
            </th>
            <th>
                Grade
            </th>

        </tr>

        for (int i = 0; i < Model.student_list.Count(); i++)
        {
            <tr>
                <td>
                    @Model.student_list[i]
                </td>
                <td>
                    @if (ViewBag.MoedA_Date_passed)
                    {
                        @Model.grade_list[i]
                    }
                    else
                    {
                        @no_grd_message
                    }
                </td>
            </tr>
        }
    }
    else
    {
        <tr>
            <th>
                Student ID
            </th>
            <th>
                Name
            </th>
            <th>
                Grade
            </th>

        </tr>

        for (int i = 0; i < Model.student_list.Count(); i++)
        {
            <tr>
                <td>
                    @Model.student_list[i]
                </td>
                <td>
                    @Login.getFullName_by_ID(Model.student_list[i].ToString())
                </td>
                <td>
                    @if (ViewBag.MoedA_Date_passed)
                    {
                        @Model.grade_list[i]
                    }
                    else
                    {
                        @no_grd_message
                    }
                </td>
            </tr>
        }
    }
</table>
<p>
    <a href="javascript:void(0);" onclick="history.go(-1);">Back</a>
</p>
